<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="party" singleton="true" type="cn.techarts.whale.test.Party">
		<args>
			<arg val="333" type="int" />
		</args>
		<props>
			<prop name="name" key="party.name" />
			<prop name="chairman" ref="chairman" />
		</props>
		<methods>
			<method name="setMemebers">
				<arg val="1000" type="int" />
			</method>
		</methods>
	</bean>
	
	<bean id="chairman" type="cn.techarts.whale.test.Chairman">
		<props>
			<prop name="name" val="Trump"/>
			<prop name="gender" val="Male"/>
		</props>
	</bean>
	
</beans>
